<!-- footer design -->
<footer class="footer">
  <div class="home-sci">
    <img src="/assets/logo_black.png" alt="">
  </div>

  <div class="footer-text">
    <a routerLink="/legal-notice"><p>architektur <br>energieberatung<br><br>jacob mau, freier architekt<br>wrangelstraße 127<br>10997 berlin<br>0176 327 97872<br>planung&#64;jacobmau.de<br>www.jacobmau.de</p></a>
    <span class="animate scroll" style="--i:1;"></span>
  </div>
  <div class="data-protect">
    <a href="datenschutz">datenschutz</a>
  </div>
</footer>
