<section class="architecture" data-aos="fade-up" id="energy-consulting">
  <div class="logo-wrapper">
    <img src="././assets/logo_black.png" alt="" />
    <span class="company-description">energieberatung</span>
  </div>

  <!-- <div class="line-wrapper">
    <div class="line"></div>
  </div> -->

  <div class="img-wrapper">
    <div>
      <img src="././assets/pikto_energie.png" alt="" />
    </div>
  </div>

  <div class="text-wrapper">
    <div class="text">
      <div class="text-headline">
        <span>leistungen</span>
      </div>
      <p>
        ob zur steigerung der behaglichkeit in ihren wohnräumen oder für mehr
        transparenz und durchblick bei den fördermöglichkeiten, biete ich seit
        2023 auch eine umfängliche energieberatung für wohngebäude an. als
        energieeffizienz-experte kann ich für sie z.b. förderungen von
        einzelmaßnahmen beantragen, energieausweise erstellen oder ganz
        individuell mit ihnen lösungen in form eines sanierungsfahrplans
        erstellen. sollten zusätzliche planungs- oder auch genehmigungsmaßnahmen
        notwendig werden, unterstütze ich sie gerne auch rund um das thema
        <a href="#architecture">architektur.</a>
      </p>
    </div>
  </div>

