<section class="architecture" data-aos="fade-up" id="profile">
  <div class="logo-wrapper">
    <img src="././assets/logo_black_footer.png" alt="" />
    <span class="company-description">profil</span>
  </div>
<!--
  <div class="line-wrapper">
    <div class="line"></div>
  </div> -->

  <div class="img-wrapper">
    <span class="description-bio">
      alle müssen wohnen & jeder ort ist anders. <br />
      mit den individuellen anforderungen der auftraggebenden und den
      <br />spezifischgen gegebenheiten des jeweiligen ortes zeitgemäße <br />
      architektur zu gestalete, habe ich mir zur aufgabe gemacht.
    </span>
    <img src="././assets/profile.png" alt="" />
  </div>
  <div class="wrapper-content">
    <div data-aos="fade-right" class="education-row animate">
      <div class="education-column">
        <div class="education-box">
          <div data-aos="fade-right" class="education-content">
            <div class="content">
              <p>2023 Eintragung in die Liste der Energieeffizienz-Experten</p>
            </div>
          </div>

          <div data-aos="fade-right" class="education-content">
            <div class="content">
              <p>2018 Bauvorlageberechtigt</p>
            </div>
          </div>

          <div data-aos="fade-right" class="education-content">
            <div class="content">
              <p>seit 2021 Selbstständig als Architekt</p>
            </div>
          </div>

          <div data-aos="fade-right" class="education-content">
            <div class="content">
              <p>
                2016 - 2021 Mitarbeiter koopX architekten, Berlin, LPH 1- 8 (bis
                1018 als Werkstudent)
              </p>
            </div>
          </div>

          <div data-aos="fade-right" class="education-content">
            <div class="content">
              <p>2018 Master Studium Architektur, Beuth Hochschule Berlin</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
