.legal-header {
  background: var(--second-bg-color);
  padding: 2rem 9rem;
}

.logo {
  position: relative;
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}


.wrapper {
  padding: 6rem 5rem 5rem 10rem;
}
