section {
  min-height: 100vh;
  padding: 13rem 9% 2rem;
  margin-bottom: 5rem;
}

.line-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
//   .line {
//     border: 0.2rem solid black;
//     width: 75rem;

//   }
// }

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    width: 100px;
  }

  span {
    font-size: 1.7rem;
    color: black;
    font-weight: 400;
    padding: 2rem;
  }
}

span {
  color: var(--text-color);
}

.heading {
  position: relative;
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.contact {
  min-height: auto;
  padding-bottom: 7rem;
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.contact h2 {
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

.contact form {
  max-width: 75rem;
  margin: 0 auto;
  text-align: center;
}

.contact form .input-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box .input-field {
  position: relative;
  width: 49%;
  margin: 0.8rem 0;
  margin-bottom: 1.6rem !important;
}

.textarea-field {
  background-color: var(--second-bg-color);
}

.input-field {
  background-color: var(--second-bg-color);
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: transparent;
  border: 0.2rem solid lightgray;
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
  color: var(--text-color);
}

.contact form .focus {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: 0.5s;
}

.contact form .input-box .input-field input:focus ~ .focus,
.contact form .input-box .input-field input:valid ~ .focus,
.contact form .textarea-field textarea:focus ~ .focus,
.contact form .textarea-field textarea:valid ~ .focus {
  width: 100%;
}

.contact form .textarea-field {
  position: relative;
  margin: 0.8rem 0 2.7rem;
  display: flex;
}

.contact form .textarea-field textarea {
  resize: none;
}

.contact form .btn-box.btns .btn {
  cursor: pointer;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 100%;
  background: #9ECA65;
  border: 0.2rem solid lightgray;
  // var(--main-color);
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #555555;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}

.btn-box.btns {
  display: inline-block;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.message-box {
  padding-top: 2rem;
  font-size: 2rem;
  color: green;
  text-align: center;
}

/* BREAKPOINTS */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  section {
    padding: 10rem 4% 2rem;
  }

  .footer {
    padding: 2rem 4%;
  }
}

@media (max-width: 462px) {
  .home-content h1 {
    font-size: 5.2rem;
  }

  .education {
    padding: 10rem 4% 5rem 5%;
  }

  .contact form .input-box .input-field {
    width: 100%;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    margin-top: 2rem;
    text-align: center;
  }
}

.invalid {
  border: 1px solid red !important;
}
