<section class="architecture" data-aos="fade-up" id="architecture">
  <div class="logo-wrapper">
    <img src="././assets/logo_black.png" alt="" />
    <span class="company-description">architektur</span>
  </div>
  <div class="img-wrapper">
    <div>
      <img src="././assets/pikto_architektur.png" alt="" />
    </div>
  </div>

  <div class="text-wrapper">
    <div class="text">
      <div class="text-headline">
        <span>leistungen</span>
      </div>
      <p>
        die planung und betreuung ihres bauvorhabens bildet den kern meiner
        arbeit. gemäß den leistungsphasen 1-7 der hoai werde ich sie von den
        ersten ideen bis zur realisierung ihres bauvorhabens unterstützen.
        besonderes augenmerk lege ich dabei auf die qualität des entwurfes, die
        sich auch in den gebauten details wiederfinden wird. eine
        vollumfängliche baubegleitung entsprechend der lph 8 biete ich nicht an.
        dafür kann ich ihnen starke partner aus meinem netzwerk von
        fachingenieuren, planern und handwerkern empfehlen. zusätzlich zu den
        architektenleistungen biete ich auch
        <a href="#energy-consulting">energieberatung</a> für ihr objekt an.
      </p>
    </div>
  </div>

  <div class="accordion-wrapper">
    <div ngbAccordion>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton style="font-size: 1.7rem">
            leistungsphasen nach hoai
          </button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <ul>
                <p>LPH1 &nbsp; &nbsp; Grundlagenermittlung</p>
                <p>LPH2 &nbsp; &nbsp; Vorplanung</p>
                <p>LPH3 &nbsp; &nbsp; Entwurfsplanung</p>
                <p>LPH4 &nbsp; &nbsp; Genehmigungsplanung</p>
                <p>LPH5 &nbsp; &nbsp; Ausführungsplanung</p>
                <p>LPH6 &nbsp; &nbsp; Vorbereitung der Vergabe</p>
                <p>LPH7 &nbsp; &nbsp; Mitwirkung bei der Vergabe</p>
                <p>
                  LPH8 &nbsp; Objektüberwachung – Bauüberwachung und
                  Dokumentation
                </p>
                <p>LPH9 &nbsp; Objektbetreuung</p>
              </ul>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-wrapper-three">
    <div class="text">
      <div class="text-headline">
        <span class="accordion-headline">projektübersicht</span>

        <div class="accordion-wrapper-item">
          <div ngbAccordion>
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton style="font-size: 1.7rem">
                  2024
                </button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    · Umbau & Erweiterung einer Doppelhaushälfte, Stralsund, derzeit lp 2 <br>
                    · Energieberatung für Wohngebäude in berlin, brandenburg und mecklenburg vorpommern
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>

          <div class="accordion-wrapper-item">
            <div ngbAccordion>
              <div ngbAccordionItem>
                <h2 ngbAccordionHeader>
                  <button ngbAccordionButton style="font-size: 1.7rem">
                    2023
                  </button>
                </h2>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                    <ng-template>
                      · umbau einer scheune in schiaß, lph 5-7 <br />
                      · umbau eines ferienhauses, lph 1-4 <br />
                      · neubau von 2 doppelhäusern in Ahrensfelde, lph 5 <br />
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="accordion-wrapper-item">
            <div ngbAccordion>
              <div ngbAccordionItem>
                <h2 ngbAccordionHeader>
                  <button ngbAccordionButton style="font-size: 1.7rem">
                    2022
                  </button>
                </h2>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                    <ng-template>
                      · umnutzung einer bäckerei in berlin, lph 4 <br />
                      · umbau des dachgeschosses im denkmal, lph 5 <br />
                      · umbau einer scheune in letschin, lph 1-4 (derzeit lph 2)
                      <br />
                      · denkmalgerechte detailplanung einer fassade in staaken
                      <br />
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-wrapper-item">
            <div ngbAccordion>
              <div ngbAccordionItem>
                <h2 ngbAccordionHeader>
                  <button ngbAccordionButton style="font-size: 1.7rem">
                    2021
                  </button>
                </h2>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                    <ng-template>
                      · neubau eines wohnhauses in stralsund, lph 1-7 (derzeit lph 5 & 6) <br>
                      · denkmalgerechte erweiterung eines ackerbürgerhauses in stralsund, bis lph 3 <br>
                      · erweiterung einer doppelhaushälfte in stralsund, bis lph 3 <br>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
