<section class="architecture" data-aos="fade-up" id="architecture">
  <div class="logo-wrapper">
    <img src="././assets/logo_black.png" alt="" />
    <span class="company-description">architektur</span>
  </div>
  <div class="img-wrapper">
    <div>
      <img src="././assets/pikto_architektur.png" alt="" />
    </div>
  </div>

  <div class="text-wrapper">
    <div class="text">
      <div class="text-headline">
        <span>leistungen</span>
      </div>
      <p>
        die planung und betreuung ihres bauvorhabens bildet den kern meiner
        arbeit. gemäß den leistungsphasen 1-7 der hoai werde ich sie von den
        ersten ideen bis zur realisierung ihres bauvorhabens unterstützen.
        besonderes augenmerk lege ich dabei auf die qualität des entwurfes, die
        sich auch in den gebauten details wiederfinden wird. eine
        vollumfängliche baubegleitung entsprechend der lph 8 biete ich nicht an.
        dafür kann ich ihnen starke partner aus meinem netzwerk von
        fachingenieuren, planern und handwerkern empfehlen. zusätzlich zu den
        architektenleistungen biete ich auch
        <a href="#energy-consulting">energieberatung</a> für ihr objekt an.
      </p>
    </div>
  </div>

  <div class="accordion-wrapper">
    <div ngbAccordion>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton style="font-size: 1.7rem">
            leistungsphasen nach hoai
          </button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <ul>
                <div>
                  <li>LPH1 Grundlagenermittlung</li>
                  <li>LPH2 Vorplanung</li>
                  <li>LPH3 Entwurfsplanung</li>
                  <li>LPH4 Genehmigungsplanung</li>
                  <li>LPH5 Ausführungsplanung</li>
                  <li>LPH6 Vorbereitung der Vergabe</li>
                  <li>LPH7 Mitwirkung bei der Vergabe</li>
                  <li>
                    LPH8 Objektüberwachung – Bauüberwachung und Dokumentation
                  </li>
                  <li>LPH9 Objektbetreuung</li>
                </div>
              </ul>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-wrapper-three">
    <div class="text">
      <div class="text-headline">
        <span class="accordion-headline">projektübersicht</span>

        <div class="accordion-wrapper-item">
          <div ngbAccordion>
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton style="font-size: 1.7rem">
                  2024
                </button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    <ul>
                      <li>
                        Umbau & Erweiterung einer Doppelhaushälfte, Stralsund,
                        derzeit lp 2
                      </li>
                      <li>
                        Energieberatung für Wohngebäude in berlin, brandenburg
                        und mecklenburg vorpommern
                      </li>
                    </ul>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-wrapper-item">
          <div ngbAccordion>
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton style="font-size: 1.7rem">
                  2023
                </button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    <ul>
                      <li>Umnutzung einer Bäckerei in Berlin, LPH 4</li>
                      <li>Umbau des Dachgeschosses im Denkmal, LPH 5</li>
                      <li>
                        Umbau einer Scheune in Letschin, LPH 1-4 (derzeit LPH 2)
                      </li>
                      <li>
                        Denkmalgerechte Detailplanung einer Fassade in Staaken
                      </li>
                    </ul>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-wrapper-item">
          <div ngbAccordion>
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton style="font-size: 1.7rem">
                  2022
                </button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    <ul>
                      <li>Umbau einer Scheune in Schiaß, LPH 5-7</li>
                      <li>Umbau eines Ferienhauses, LPH 1-4</li>
                      <li>Neubau von 2 Doppelhäusern in Ahrensfelde, LPH 5</li>
                    </ul>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-wrapper-item">
          <div ngbAccordion>
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton style="font-size: 1.7rem">
                  2021
                </button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    <ul>
                      <li>
                        Neubau eines Wohnhauses in Stralsund, LPH 1-7 (derzeit
                        LPH 5 & 6)
                      </li>
                      <li>
                        Denkmalgerechte Erweiterung eines Ackerbürgerhauses in
                        Stralsund, bis LPH 3
                      </li>
                      <li>
                        Erweiterung einer Doppelhaushälfte in Stralsund, bis LPH
                        3
                      </li>
                    </ul>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
